// Variable overides
$body-bg: #000;

// Custom Var
$transparent: rgba(0, 0, 0, 0);
$opaque: rgba(255, 255, 255, 0.7);

$bg-image: url("https://wallpaperscraft.com/image/light_sky_stars_background_85555_3840x2400.jpg");

$theme-colors: (
    "grayish": #a0a0a0,
    "opaque": $opaque,
    "clear": $transparent
);

// Custom Stuff
.bg-image{
    background: $bg-image;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

// Bootstrap 
@import "node_modules/bootstrap/scss/bootstrap";

